[defaults]
forks = 20
remote_user = root
inventory = ./hosts/production
host_key_checking = false
ansible_managed = Warning: File is managed by Ansible
roles_path = playbooks/roles
gathering = smart
library = /usr/share/ansible:playbooks/library

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = true
